@font-face {
    font-family: 'Brevis-Regular';
    src: url('../fonts/Brevis-Regular.woff2') format('woff2'),
         url('../fonts/Brevis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height:100%;
    font-family: 'Brevis-Regular';
    color: #c8c8c8;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    width: 100%;
    height:100%;
    text-align: center;
}

.social-icons {
    display: flex;
    align-items: center;  
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    height: auto;
    object-fit: contain;
    justify-content: center;
}

#linkedin {
    width: 3.5rem;
}
#github {
    width: 3.5rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text h1, .main-text h2 {
    margin: 0; 
    letter-spacing: .05em;
    text-align: center;
}

.main-text h1 {
    font-size: 4rem;
    color: #872e1b;
}

.main-text-inverse h1{
    color: #63854f;
}

.main-text h2 {
    font-size: 1.7rem;
    margin-top: 1rem; 
    color :#a8b4bc;
}

#middle-image {
    width: 15rem;
    height: auto;
    margin-top: 1.5rem;
} 

.social-icons a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Makes the link color match the parent text color */
}

.social-icons a:visited {
    color: inherit; /* Keeps the visited links the same color */
}

.social-icons a:hover {
    color: #b2aeae; /* Optional: changes color on hover, you can use any color you want */
}

@media (max-width: 600px) {
    .main-text h1 {
        font-size: 2.5rem;
    }

    .main-text h2 {
        font-size: 1.2rem;
    }
}
